.login-container{
    background: linear-gradient(to right, rgba(254, 157, 0, 0.9), rgba(254, 157, 0, 0.5));
}
.sidebarContainer{
    background-color: #F2EAE1;
    height: 100%;
}
.sidebarContainer .ps-sidebar-container{
    background-color: transparent;
}